#Microchip
*.lst   
*.cof   
*.cod   
*.o
*.a   
*.map   
*.mcs   
*.err   
*.i   
*.hex   
*.zip   
*.rar   
*.img   

*.crf
*.d
*.axf
*.bak
*.htm
*.lnp
*.uvgui*.* 
*.dep

*.pre
*.p1

*.mk 
*.elf 
*.cmf 
*.properties 
*.bash 

/Boards/PIC18F4550/Template/Template.X/build/default/
/.project
